<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EmailClientPluma.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EmailClientPluma.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="AutoRefreshTime" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="BackgroundMessageSync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncreasePollingTimeWhileIdle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UsePhishingDetector" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseBERTPhishingDetector" serializeAs="String">
                <value>True</value>
            </setting>
        </EmailClientPluma.Properties.Settings>
    </userSettings>
</configuration>